* {
  padding: 0;
  margin: 0;
}
header {
  
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  grid-area: header;
  margin: 0;
}
h1 {
  margin: 0;
  margin-bottom: 0;
}
footer {
  background-color: lightgreen;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  height: 50px;
  grid-area: footer;
}

nav {
  grid-area: nav;
  background-color: #7ab86c;
}
.container {
  margin: auto;
  display: grid;
  position: relative;

  grid-template-areas: "header header"
                       "nav main"
                       "footer footer";

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr 50px;
}

a {

 /*position: absolute;*/
 top: 700px;
 transform: translate(-50%,-50%);
 width: 200px;
 height: 60px;
 text-align: center;
 line-height: 60px;
 color: #fff;
 font-size: 24px;
 text-transform: lowercase;
 text-decoration: none;
 font-family: sans-serif;
 box-sizing: border-box;
 /*background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);*/
 background-size: 400%;
 border-radius: 30px;
 z-index: 1;
 line-height: 2.1;
 padding: 10px;
}
a:hover {
 animation: animate 8s linear infinite;
}
@keyframes animate {
 0% {
  background-position: 0%;
 }
 100% {
  background-position: 400%;
 }
}
a:before {
 content: '';
 position: absolute;
 top: -5px;
 bottom: -5px;
 right: -5px;
 left: -5px;
 z-index: -1;
 background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
 background-size: 400%;
 border-radius: 40px;
 filter: blur(20px);
 opacity: 0;
 transition: 0.5s;
}
a:hover:before {
 filter: blur(20px);
 opacity: 1;
 animation: animate 8s linear infinite;
}
body {


}

.plant {
  width: 100%;
  max-width: 600px;
  max-height: 1200px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  padding: 0;

}

img {
  width: 100%;
  height: auto;
}
h2 {
  font-family: "Nunito Sans";
  font-size: 18px;
  background-color: white;
  margin: 0;
  color: green;
  text-align: left;
  padding: 10px;
}



.description {
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px dotted #4a4a4a;
}
main {
  /*max-width: 600px;*/
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 500px));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 44px;
  grid-auto-rows: 1fr;
  justify-items: center;
  justify-content: center;
  /*align-items: stretch;
  /*height: 1600px;*/
  align-content: center;
  text-align: center;
  grid-area: main;


  grid-auto-flow: row;

}
